div{
    display:flex;
    justify-items: center;
    flex-direction: column;
    width: 150px;  
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top: 50px;
    
}
button{
    height: 30px;
}
h2, h1{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
}